@import url(base.css);
main {
  min-height: 512px;
}
main .spare-container .spare-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .spare-container .spare-list > li {
  width: 550px;
  height: 450px;
  box-shadow: 0px 5px 5px #999;
  margin-bottom: 50px;
  border-radius: 5%;
  overflow: hidden;
}
main .spare-container .spare-list > li a {
  padding: 20px 0;
  height: 100%;
  display: block;
}
main .spare-container .spare-list > li a .img {
  width: 500px;
  height: 375px;
  margin: 0px auto;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
main .spare-container .spare-list > li a .img img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .spare-container .spare-list > li a .description {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}
main .spare-container .spare-list > li a .description .time {
  margin-right: 5px;
}
