main .poster{
    display: flex;
    justify-content: center;

}

main .poster img{
    width: 800px;
}

.slide{
    position:fixed;
    bottom: 150px;
    right: 10%;
    
 }
 .slide::before{
     content:"报告幻灯片:";
     font-size: 18px;
     color: rgb(197, 130, 72);
     border-left:8px solid  rgb(197, 130, 72) ;
     padding-left: 5px;
 }

 .slide a{
     font-size: 14px;
 }

.link{
    position:fixed;
    bottom: 100px;
    right: 10%;
    
 }
 .link::before{
    content:"链接:";
    font-size: 18px;
    color: rgb(197, 130, 72);
    border-left:8px solid  rgb(197, 130, 72) ;
    padding-left: 5px;
}
 .link a{
    font-size: 18px;
}