<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/base/logo/atomicon.ico">
    <title>修改论文信息</title>
    <link rel="stylesheet" href="../css/editpublication.css">
    <script src="../js/sideNav.js" type="module"></script>
</head>
<body>
   <main>
    <div id="display">
        <h2 style="text-align: center; color:grey;">修改论文信息</h2>

        <div id="editPublication">
            <form id="editPublication_form">
                <div class="item">
                    <label for="year">Year</label>
                    <div class="input"><input type="text" id="year" value="preprint"></div>
                </div>
                <div class="item">
                    <label for="title">Title</label>
                    <div class="input"><input type="text" id="title"></div>
                </div>
                <div class="item">
                    <label for="author">Authors</label>
                    <div class="input"><input  id="author" ></div>
                </div>
                <div class="item">
                    <label for="journal">Journal</label>
                    <div class="input"><input  id="journal" ></div>
                </div>
                <div class="item">
                    <label for="arxiv">Arxiv</label>
                    <div class="input"><input type="url" id="arxiv"></div>
                </div>
                <div class="item">
                    <label for="doi">DOI</label>
                    <div class="input"><input  id="doi"  type="url"></div>
                </div>
                <div class="item">
                    <label for="pdf">PDF</label>
                    <div class="input"><input type="file"  id="pdf"></div>
                </div>
            </form>
        </div>
    
        <div class="button_event">
            <button type="button" id="submit" onclick="updatePublication()">提交</button>
        </div>
    
    </div>
  
    <div id="publicationList">
        <h3>Publication List</h2>
            <select id="yearSelect">
            </select>
            <button type="button" id="refresh" onclick="getPublicationData()">获取News</button>
        <ul class="list" id="dataRender">
        </ul>
    </div>
    <!-- 形成选项栏 -->
    <script>
       var yearSelected = document.getElementById('yearSelect')
       var startYear = 2020
       var endYear = new Date().getFullYear()
       var yearSelectedHTML = '<option value="preprint" selected>preprint</option>\n'
       for (let i=endYear;i>=startYear;i--){
            yearSelectedHTML+=`<option value="${i}">${i}</option>\n`
       }
       yearSelected.innerHTML = yearSelectedHTML

  
    </script>

   </main>

   <script src="../js/publication.js"></script>
    
</body>
</html>