<div class="sidebar">
    <ul class="menu">
      <li>
        <a href="#">Journal Club</a>
        <ul class="submenu">
          <li><a href="/admin/component/addjournalclub.html">Add</a></li>
          <li><a href="/admin/component/editjournalclub.html">Edit</a></li>
        </ul>
      </li>

      <li>
        <a href="#">News</a>
        <ul class="submenu">
          <li><a href="/admin/component/addnews.html">Add</a></li>
          <li><a href="/admin/component/editnews.html">Edit</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Seminar(学术报告)</a>
        <ul class="submenu">
          <li><a href="/admin/component/addseminar.html">Add</a></li>
          <li><a href="/admin/component/editseminar.html">Edit</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Conference(学术会议)</a>
        <ul class="submenu">
          <li><a href="/admin/component/addconference.html">Add</a></li>
          <li><a href="/admin/component/editconference.html">Edit</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Publication</a>
        <ul class="submenu">
          <li><a href="/admin/component/addpublication.html">Add</a></li>
          <li><a href="/admin/component/editpublication.html">Edit</a></li>
        </ul>
      </li>
    </ul>
</div>
  