@import url(/css/base.css);
main .title {
  font-size: 30px;
  margin: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
main .content {
  margin-bottom: 50px;
}
main .content .span-time {
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}
main .content .span-time::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #005826;
  margin: 10px auto;
}
main .content .imgs {
  display: flex;
  justify-content: space-between;
}
main .content .imgs a {
  width: 45%;
  padding-top: 20px;
  border-top: 1px solid #005826;
}
main .content .imgs a img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
main .content .imgs a img:hover {
  transform: scale(1.3);
}
